@use "sass:map";

@import "./variables.scss";
@import "./directores.scss";
@import "./empresas.scss";
@import "./menu.scss";
@import "./leyes.scss";
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;600;700&family=Lato:ital,wght@0,400;0,700;1,400&family=Merriweather:wght@400;900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: map.get($fonts, body_text);
  padding: 0;
  margin: 0;
  h1,
  h2,
  h3,
  h4 {
    font-family: map.get($fonts, headings);
  }
}

.diagrama_afp_mobile {
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}

.diagrama-afp-desktop {
  display: none;
  @media (min-width: 769px) {
    display: block;
    margin-left: calc(-80vw / 2 + $content_width / 2) !important;
    margin-right: calc(-80vw / 2 + $content_width / 2) !important;
    figure {
      max-width: 736px;
    }
  }
}

.diagrama_afp_mobile,
.diagrama-afp-desktop {
  margin-top: 12px;
  margin-bottom: 12px;
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.c80_afp-section {
  border-bottom: 3px solid map.get($palette, saturated_red);
  padding: 24px 0;

  @media (max-width: 768px) {
    padding: 12px;
  }

  > div {
    max-width: 736px;
    margin: 0 auto;
    @media (max-width: 768px) {
      max-width: 100%;
    }

    h1,
    h2,
    h3 {
      text-align: center;
    }

    h3.c80_afp-subheading {
      text-align: left;
      font-family: map.get($fonts, body_text);
      background-color: white;
      display: inline-block;
      padding: 3px;
      color: map.get($palette, background_blue_dark);
    }

    h3.chart-title {
      font-family: map.get($fonts, body_text);
      margin: 48px 0 24px 0;
      font-size: 28px;
    }

    h2 {
      margin-bottom: 36px;
      font-weight: 700;
      font-size: 36px;
      &.c80_afp-heading {
        overflow: hidden;
        text-align: center;
        padding: 0 40px;
        background-image: url("data:image/svg+xml,%3Csvg width='160' height='4' viewBox='0 0 160 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M160 2H0' stroke='%234C89FF' stroke-width='3'/%3E%3C/svg%3E%0A");
        background-position: 50%;
        background-repeat: repeat-x;
        span {
          background-color: map.get($palette, background_blue_dark);
          display: inline-block;
        }
        @media (min-width: 1200px) {
          margin-left: -60px;
          margin-right: -60px;
        }
      }
    }
  }

  ol li,
  ul li {
    margin-bottom: 12px;
  }

  p.icon-lupa {
    position: relative;
    padding-left: 32px;
    margin: 36px auto 24px auto;
    padding-left: 36px;
    display: flex;
    align-items: center;
    &::before {
      position: absolute;
      content: "";
      display: block;
      width: 32px;
      height: 32px;
      background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.8759 10.9362C19.8759 12.9082 19.2356 14.7298 18.157 16.2077L23.5971 21.651C24.1343 22.1881 24.1343 23.0602 23.5971 23.5972C23.06 24.1343 22.1877 24.1343 21.6506 23.5972L16.2105 18.1539C14.7323 19.2365 12.9103 19.8724 10.9379 19.8724C6.00059 19.8724 2 15.8726 2 10.9362C2 5.9998 6.00059 2 10.9379 2C15.8753 2 19.8759 5.9998 19.8759 10.9362ZM10.9379 17.1228C11.7505 17.1228 12.5552 16.9628 13.3059 16.6519C14.0566 16.341 14.7388 15.8853 15.3134 15.3108C15.888 14.7363 16.3438 14.0543 16.6547 13.3037C16.9657 12.5531 17.1257 11.7486 17.1257 10.9362C17.1257 10.1238 16.9657 9.31928 16.6547 8.56868C16.3438 7.81809 15.888 7.13609 15.3134 6.56161C14.7388 5.98713 14.0566 5.53143 13.3059 5.22052C12.5552 4.90962 11.7505 4.7496 10.9379 4.7496C10.1253 4.7496 9.32071 4.90962 8.56997 5.22052C7.81923 5.53143 7.13709 5.98713 6.5625 6.56161C5.98791 7.13609 5.53212 7.81809 5.22115 8.56868C4.91019 9.31928 4.75013 10.1238 4.75013 10.9362C4.75013 11.7486 4.91019 12.5531 5.22115 13.3037C5.53212 14.0543 5.98791 14.7363 6.5625 15.3108C7.13709 15.8853 7.81923 16.341 8.56997 16.6519C9.32071 16.9628 10.1253 17.1228 10.9379 17.1228Z' fill='white'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      left: 0;
    }
  }
}

.c80_afp-inicio {
  border-bottom: 3px solid map.get($palette, saturated_red);
  > div {
    max-width: $content_width;
    margin: 0 auto;

    h1 {
      font-weight: 900;
      font-size: 36px;
      text-align: center;
    }

    h2 {
      font-size: 32px;
      font-weight: 400;
      text-align: center;
    }
  }
}

.afp-app-body {
  background-color: map-get($palette, background_blue_dark);
  color: white;
  h1 {
    text-align: center;
  }

  p {
    line-height: 1.4em;
    a {
      color: white;
      font-weight: 700;
      text-decoration: underline;
    }
  }
}

.afp-timeline-wrapper#afp_timeline {
  > div {
    min-height: 800px;
  }
  @media (min-width: 1200px) {
    margin-left: calc(-98vw / 2 + $content_width / 2) !important;
    margin-right: calc(-98vw / 2 + $content_width / 2) !important;
  }

  .tl-slider-container-mask {
    background-color: map.get($palette, background_blue_light);
  }

  .tl-slidenav-title,
  .tl-slidenav-icon,
  .tl-slidenav-description {
    text-shadow: none;
    color: white;
  }

  .tl-headline {
    color: white;
    line-height: 1.2em;
  }

  .tl-timegroup-message {
    text-shadow: none;
  }

  .tl-timegroup-politico-social {
    background-color: rgba(255, 255, 255, 0.3);
    .tl-timegroup-message {
      color: #333;
    }
  }

  .tl-text {
    color: white;
  }

  .tl-headline-date {
    color: white;
  }

  .tl-timenav,
  .tl-timegroup.tl-timegroup-alternate,
  .tl-timeaxis-background {
    background-color: map.get($palette, background_blue_light);
  }

  .tl-timemarker-active .tl-timemarker-content-container {
    background-color: map.get($palette, dark_red);
  }

  .tl-timemarker.tl-timemarker-active .tl-timemarker-timespan {
    background-color: transparentize(map.get($palette, dark_red), 0.8);
  }

  .tl-timemarker-content-container,
  .tl-timemarker-content-container:focus,
  .tl-timemarker-content-container:hover {
    background-color: desaturate(map.get($palette, dark_red), 20%);
    border: 0;
    border-radius: 0;
    color: white;
  }

  .tl-slide {
    padding: 0 48px;

    .tl-slide-content {
      direction: ltr;
      .tl-caption {
        color: white;
      }
      .tl-text {
        h2,
        h3 {
          text-align: left;
        }
        p {
          color: white;
        }
        @media (min-width: 1200px) {
          padding-right: 120px;
        }
      }
    }

    @media (max-width: 768px) {
      padding: 0;
      .tl-media-content {
        max-width: 120px;
        height: auto;
        margin: 0 auto;
        text-align: center;
      }

      .tl-headline {
        font-size: 22px;
        margin-bottom: 0;
      }
    }
  }
}

div.c80_chart {
  min-height: 708px;
  margin-top: 24px;
  margin-bottom: 24px;
  //width: 100%;
  p.postlegend {
    text-align: center;
  }

  @media (min-width: 1200px) {
    margin-left: calc(-1068px / 2 + $content_width / 2);
    margin-right: calc(-1068px / 2 + $content_width / 2);
  }
  @media (max-width: 768px) {
    overflow: scroll;
    > div {
      width: 908px;
    }
    &[data-grafico="inversiones"] {
      > div {
        min-height: 700px;
      }
    }
  }

  &[data-grafico="inversiones"] > div.chart_container {
    min-height: 700px;
  }

  &[data-grafico="pensiones-pagadas"] {
    min-height: 300px;
  }

  &[data-grafico="pensiones-pagadas"] > div.chart_container,
  &[data-grafico="comparativa-resumen"] > div.chart_container {
    min-height: 300px;
    margin-top: 40px;
    margin-bottom: 0;
  }

  [data-grafico="pensiones-pagadas"] > div.chart_container {
    margin-bottom: 0;
  }

  &[data-grafico="comparativa-pensiones"] > div.chart_container {
    min-height: 800px;
    margin-top: 40px;
    margin-bottom: 0;
  }

  &[data-grafico="comparativa-pensiones"] > div.chart_legend {
    .extralegend {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      p {
        display: flex;
        gap: 6px;
        &::before {
          display: block;
          content: "";
          width: 16px;
          height: 16px;
          border-radius: 3px;
        }
        &.red::before {
          background-color: #d02427;
        }
        &.blue::before {
          background-color: #0e78f4;
        }
        &.purple::before {
          background-color: #d511dd;
        }
      }
    }
  }

  div.chart_legend {
    font-size: 14px;
    text-align: center;
  }
}

div.c80_diagram {
  @media (min-width: 1200px) {
    margin-left: calc(-1068px / 2 + $content_width / 2);
    margin-right: calc(-1068px / 2 + $content_width / 2);
  }
}

.c80_afp-section#conclusiones {
  background-color: #133550;
  padding-bottom: 48px;
  h2.c80_afp-heading {
    span {
      background-color: #133550;
    }
  }
}

.c80_afp-section#conflictos {
  > div {
    max-width: 960px;
  }
}

#footer {
  > div {
    max-width: 1200px;
    margin: 0 auto;
    @media (max-width: 768px) {
      padding: 12px;
    }

    ul {
      margin: 0 0 24px 0;
      padding: 0;
    }
    ul li {
      list-style: none;
      padding: 0;
      margin: 0;
      margin-bottom: 6px;
    }
  }
}

header#inicio {
  flex-direction: column;
  .mobileNav {
    display: none;
    @media (max-width: 768px) {
      display: block;
      width: 100%;
      z-index: 10;
      color: #333;
      text-align: center;
      margin: 0 -12px;
      span {
        display: block;
        padding: 12px;
        background-color: white;
        border-bottom: 1px solid #ccc;
        cursor: pointer;
        position: relative;
        &:after {
          content: "";
          width: 18px;
          height: 18px;
          display: block;
          background-image: url(../../assets/img/chevron.svg);
          background-repeat: no-repeat;
          background-position: center;
          position: absolute;
          right: 12px;
          top: 16px;
          transition: all ease 0.3s;
          transform-origin: 9px;
        }
        &.active {
          &:after {
            transform: rotate(180deg);
          }
        }
      }
      ul {
        height: 0;
        padding: 0;
        margin: 0 6px;
        border-radius: 0 0 6px 6px;
        background-color: white;
        &.active {
          height: auto;
        }
        li {
          list-style: none;
          padding: 0;
          margin: 0;
          a {
            display: block;
            padding: 12px;
            border-bottom: 1px solid #ccc;
            text-decoration: none;
            color: #777;
          }
        }
        li:last-child a {
          border-bottom: none;
        }
      }
    }
  }
}
